.rax-text-v2 {
  box-sizing: border-box;
  display: block;
  font-size: 32rpx;
  white-space: pre-wrap;
}

.rax-text-v2--overflow-hidden {
  overflow: hidden;
}

.rax-text-v2--singleline {
  white-space: nowrap;
}

.rax-text-v2--multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
