.rax-countdown-main {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rax-countdown-item {
  flex-direction: row;
}
.rax-countdown-background {
  position: absolute;
}
