.rax-scrollview-vertical {
    flex-direction: column;
}

.rax-scrollview-horizontal {
    flex-direction: row;
}

.rax-scrollview-content-container-horizontal {
    flex-direction: row;
}

.rax-scrollview-webcontainer {
    display: block;
}