.rax-scrollview-vertical {
    flex-direction: column;
    flex: 1;
}

.rax-scrollview-horizontal {
    flex-direction: row;
    flex: 1;
}

.rax-scrollview-content-container-horizontal {
    flex-direction: row;
}
.rax-scrollview-webcontainer {
    display: block
}