.rax-scrollview-vertical {
    flex-direction: column !important;
}

.rax-scrollview-horizontal {
    flex-direction: row !important;
}

.rax-scrollview-content-container-horizontal {
    flex-direction: row !important;
}

.rax-scrollview-webcontainer {
    display: block;
}