.slider {
  width: 750rpx;
  position: relative;
  overflow: hidden;
  height: 500rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 750rpx;
  height: 500rpx;
}

.itemWrap {
  width: 750rpx;
  height: 500rpx;
}

.button {
  margin-top: 20rpx;
  width: 340rpx;
  height: 80rpx;
}

.swiper-pagination {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto !important;
  left: auto !important;
  margin: 0;
}

.swiper-pagination-bullet {
  padding: 5px 10px;
  border-radius: 0;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}

.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}
