.rax-view {
   box-sizing: border-box;
   display: flex;
   position: relative;
   flex-direction: column;
   flex-shrink: 0;
   align-content: flex-start;
   border: 0 solid black;
   margin: 0;
   padding: 0;
   min-width: 0;
}
